# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
pkg/llm/local/bin

# Test artifacts
pkg/utils/public
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Local Configurations
config.yml

# Logs
*.log

# Misc
tmp
reference
cache
embeddings.db
examples/embeddings/cloudbox_api_schema.json
examples/embeddings/embeddings.db
examples/embeddings/*
venv
scripts/repoconcat/output.txt
public/js/node_modules/.package-lock.json
public/js/node_modules/@antonz/codapi/LICENSE
public/js/node_modules/@antonz/codapi/package.json
public/js/node_modules/@antonz/codapi/README.md
public/js/node_modules/@antonz/codapi/dist/settings.js
public/js/node_modules/@antonz/codapi/dist/settings.mjs
public/js/node_modules/@antonz/codapi/dist/setup.js
public/js/node_modules/@antonz/codapi/dist/setup.mjs
public/js/node_modules/@antonz/codapi/dist/snippet.css
public/js/node_modules/@antonz/codapi/dist/snippet.js
public/js/node_modules/@antonz/codapi/dist/snippet.mjs
public/js/node_modules/@antonz/codapi/dist/engine/pglite.js
public/js/node_modules/@antonz/codapi/dist/engine/pglite.mjs
public/js/node_modules/@antonz/codapi/dist/engine/wasi.js
public/js/node_modules/@antonz/codapi/dist/engine/wasi.mjs
