# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
pkg/llm/local/bin

# Test artifacts
pkg/utils/public
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Local Configurations
config.yml

# Logs
*.log

# Misc
reference
cache
embeddings.db
examples/embeddings/cloudbox_api_schema.json
examples/embeddings/embeddings.db
examples/embeddings/*
llama.log