[submodule "pkg/llm/local/gguf"]
	path = pkg/llm/local/gguf
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "services/vendor"]
	path = services/vendor
	url = https://github.com/searxng/searxng-docker.git
