:root {
    /* Default Accents */
    --et-purple: #BB29BB;
    /* Medium Purple */
    --et-green: #66cdaa;
    /* Medium Aquamarine */
    --et-blue: #87cefa;
    /* Light Sky Blue */
    --et-red: #ff6347;
    /* Tomato */
    --et-yellow: #ffd700;
    /* Gold (unchanged) */
    --et-light: #d3d3d3;
    /* Light Gray */
    --et-card-bg: #252525;
    /* Dark Gray */
    --et-btn-info: #6cbfbf;
    /* Soft Cyan */

    /* Galactic Gray Theme */
    --et-galactic-primary: #b0b0b0;
    --et-galactic-secondary: #707070;
    --et-galactic-accent: #505050;
    --et-galactic-background: #121212;
    --et-galactic-border-highlight: #d0d0d0;

    /* Aurora Theme */
    --et-aurora-primary: #00ffa3;
    /* Bright Aqua */
    --et-aurora-secondary: #00875f;
    /* Deep Aqua Green */
    --et-aurora-accent: #191919;
    /* Dark Teal */
    --et-aurora-background: #0F0F0F;
    /* Very Dark Green */
    --et-aurora-border-highlight: #00ffc4;
    /* Bright Teal */

    /* Celestial Theme */
    --et-celestial-primary: #4b8f8c;
    /* Teal Blue */
    --et-celestial-secondary: #32717a;
    /* Sea Green Blue */
    --et-celestial-accent: #1b3a41;
    /* Dark Cyan */
    --et-celestial-background: #081a1c;
    /* Almost Black Cyan */

}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    /* Firefox */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--et-galactic-background);
    -ms-overflow-style: none;
    /* IE and Edge */
    overflow: hidden;
    /* Ensure no scrollbars on body */
}

#scroll-to-bottom-btn {
    display: none;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}


.bg-primary {
    --bs-bg-opacity: 1;
    background-color: hsla(var(--bs-primary-hsl), var(--bs-bg-opacity)) !important;
}

.bg-secondary {
    background-color: #007BFF;
}

#tools,
#chat-view,
#info {
    height: 100%;
    overflow-y: hidden;
    /* Hide scrollbars */
}

.main-content {
    flex: 1;
    overflow-y: hidden;
    /* Hide scrollbars */
}

@font-face {
    font-family: 'MonaspaceArgon';
    src: url('../fonts/monaspace/MonaspaceArgon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonaspaceRadon';
    src: url('../fonts/monaspace/MonaspaceRadon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

codapi-ref {
    display: none;
}

codapi-toolbar button {
    display: inline-block;
    width: 48px;
    height: 48px;
    border: none;
}

codapi-toolbar a {
    display: none;
}

codapi-toolbar button {
    border-radius: 6px;
}



.model-container {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

.message-content {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.user-prompt {
    border-left: 3px solid var(--et-green);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: min-content;
}

.response {
    border-left: 3px solid var(--et-purple);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
}

pre code {
    margin-bottom: 0px;
}

/*                    */
/* Transitions        */
/*                    */

.fade-me-out.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-it {
    view-transition-name: fade-in;
    animation-duration: 300ms;
}

::view-transition-old(fade-it) {
    animation: 600ms ease both fade-out;
}

::view-transition-new(fade-it) {
    animation: 600ms ease both fade-in;
}

#tools-container,
#info {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#tools-container.show,
#info.show {
    opacity: 1;
}

#tools-container.hide,
#info.hide {
    opacity: 0;
}

/*                    */
/* HighlightJS Styles */
/*                    */

.hljs {
    background: #1e1e1e;
    font-family: 'MonaspaceArgon', monospace;
}

pre.hljs {
    background: #1e1e1e;
    padding: 0.5em;
}

code.hljs {
    display: block;
    padding: 0.5em;
    background: #171717;
    color: #f8f8f2;
}

span.hljs {
    color: #f8f8f2;
    white-space: pre-wrap;
}

span.hljs-comment,
span.hljs-quote {
    color: #75715e;
    font-family: 'MonaspaceRadon', monospace;
}

span.hljs-string {
    color: #e6db74;
}

span.hljs-keyword,
span.hljs-selector-tag,
span.hljs-addition {
    color: #f92672;
}

span.hljs-built_in,
span.hljs-class .hljs-title {
    color: #a6e22e;
}

span.hljs-function,
span.hljs-tag .hljs-title,
span.hljs-title {
    color: #a6e22e;
}

span.hljs-number {
    color: #ae81ff;
}

span.hljs-literal {
    color: #ae81ff;
}

span.hljs-symbol,
span.hljs-attribute,
span.hljs-meta .hljs-keyword,
span.hljs-selector-id,
span.hljs-selector-attr,
span.hljs-selector-pseudo,
span.hljs-template-tag,
span.hljs-template-variable {
    color: #f92672;
}

span.hljs-type,
span.hljs-builtin-name {
    color: #66d9ef;
}

span.hljs-diff .hljs-change,
span.hljs-diff .hljs-error,
span.hljs-diff .hljs-deletion {
    color: #ae81ff;
}

span.hljs-addition {
    color: #e6db74;
}

span.hljs-operator {
    color: #f92672;
}

span.hljs-punctuation {
    color: #f8f8f2;
}

span.hljs-escape {
    color: #ae81ff;
}

span.hljs-regexp {
    color: #e6db74;
}

span.hljs-tag {
    color: #f92672;
}