:root {
    /* Default Accents */
    --et-purple: #7f5af0;
    --et-green: #2cb67d;
    --et-blue: #2d68f0;
    --et-red: #e45858;

    /* Galactic Gray Theme */
    --et-galactic-primary: #cccccc;
    --et-galactic-secondary: #808080;
    --et-galactic-accent: #333333;
    --et-galactic-background: #101010;
    --et-galactic-border-highlight: #ffffff;

    /*  Aurora Theme */
    --et-aurora-primary: #00ffa3; /* Bright Aqua */
    --et-aurora-secondary: #00875f; /* Deep Aqua Green */
    --et-aurora-accent: #004d39; /* Dark Teal */
    --et-aurora-background: #00231c; /* Very Dark Green */
    --et-aurora-border-highlight: #00ffc4; /* Bright Teal */

    /*  Celestial Theme */
    --et-celestial-primary: #4b8f8c; /* Teal Blue */
    --et-celestial-secondary: #32717a; /* Sea Green Blue */
    --et-celestial-accent: #1b3a41; /* Dark Cyan */
    --et-celestial-background: #081a1c; /* Almost Black Cyan */
    --et-celestial-border-highlight: #6cbfbf; /* Soft Cyan */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--et-galactic-background);
}

@font-face {
    font-family: 'MonaspaceArgon';
    src: url('../fonts/monaspace/MonaspaceArgon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonaspaceRadon';
    src: url('../fonts/monaspace/MonaspaceRadon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fade-me-out.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

codapi-ref {
    display: none;
}

codapi-toolbar button {
    display: inline-block;
    width: 48px;
    height: 48px;
    /* background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><g fill="currentColor" stroke="currentColor" stroke-width="1.5"><path stroke-linecap="round" d="M11 14H3m8 4H3"/><path d="M18.875 14.118c1.654.955 2.48 1.433 2.602 2.121a1.5 1.5 0 0 1 0 .521c-.121.69-.948 1.167-2.602 2.121c-1.654.955-2.48 1.433-3.138 1.194a1.499 1.499 0 0 1-.451-.261c-.536-.45-.536-1.404-.536-3.314c0-1.91 0-2.865.536-3.314a1.5 1.5 0 0 1 .451-.26c.657-.24 1.484.238 3.138 1.192Z"/><path stroke-linecap="round" d="M3 6h10.5M20 6h-2.25M20 10H9.5M3 10h2.25"/></g></svg>'); */
    border: none;
}

codapi-toolbar a {
    display: none;
}

.fade-it {
    view-transition-name: fade-it;
    animation-duration: 300ms;
}

::view-transition-old(fade-it) {
    animation: 600ms ease both fade-out;
}

::view-transition-new(fade-it) {
    animation: 600ms ease both fade-in;
}

.model-container {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

.message-content {
    white-space: pre-wrap;
    /* Preserves spaces and line breaks */
    word-wrap: break-word;
    /* Ensures long words do not break the layout */

}

.user-prompt {
    background-color: var(--et-galactic-accent);
    border-left: 3px solid var(--et-red);
    /* padding: 8px 12px;
    margin-top: 20px;
    margin-bottom: 10px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-height: min-content;
}

.response {
    background-color: var(--et-galactic-accent);
    border-left: 3px solid var(--et-purple);
    /* padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 4px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

pre code {
    margin-bottom: 0px;
}

.card-selected {
    border: 2px solid var(--et-blue);
    /* or any other styling to depict selection */
}

/* .chat-container {
    overflow-y: auto;
} */

.dark-blur {
    /* Apply a blur effect to the background */
    backdrop-filter: blur(10px) brightness(90%);
    --webkit-backface-visibility: hidden;
    --moz-backface-visibility: hidden;
    --webkit-transform: translate3d(0, 0, 0);
    --moz-transform: translate3d(0, 0, 0);
}

.hljs {
    background: #1e1e1e;
    font-family: 'MonaspaceArgon', monospace;
}

pre.hljs {
    background: #1e1e1e;
    padding: 0.5em;
}

/* Base background color for code blocks */
code.hljs {
    display: block;

    padding: 0.5em;
    background: #272822;
    /* Monokai background color */
    color: #f8f8f2;
    /* Monokai main text color */
}

/* Color of the code itself */
span.hljs {
    color: #f8f8f2;
    white-space: pre-wrap;
}

.preserve-format {
    white-space: pre-wrap;
}

span.hljs-comment,
span.hljs-quote {
    color: #75715e;
    font-family: 'MonaspaceRadon', monospace;
}

span.hljs-string {
    color: #e6db74;
}

span.hljs-keyword,
span.hljs-selector-tag,
span.hljs-addition {
    color: #f92672;
}

span.hljs-built_in,
span.hljs-class .hljs-title {
    color: #a6e22e;
}

span.hljs-function,
span.hljs-tag .hljs-title,
span.hljs-title {
    color: #a6e22e;
}

span.hljs-number {
    color: #ae81ff;
}

span.hljs-literal {
    color: #ae81ff;
}

span.hljs-symbol,
span.hljs-attribute,
span.hljs-meta .hljs-keyword,
span.hljs-selector-id,
span.hljs-selector-attr,
span.hljs-selector-pseudo,
span.hljs-template-tag,
span.hljs-template-variable {
    color: #f92672;
}

/* Color of class names */
span.hljs-type,
span.hljs-builtin-name {
    color: #66d9ef;
}

span.hljs-diff .hljs-change,
span.hljs-diff .hljs-error,
span.hljs-diff .hljs-deletion {
    color: #ae81ff;
}

span.hljs-addition {
    color: #e6db74;
}

span.hljs-operator {
    color: #f92672;
}

span.hljs-punctuation {
    color: #f8f8f2;
}

span.hljs-escape {
    color: #ae81ff;
}

span.hljs-regexp {
    color: #e6db74;
}

span.hljs-tag {
    color: #f92672;
}