<div id="models-container" class="fade-it">
  <div id="content" class="mt-3 mb-4 pb-3">
    <button class="btn btn-danger btn-lg mb-2 w-100" style="background-color: var(--et-red);" hx-swap="delete"
      hx-target="#models-container" hx-get="/">Back</button>
  </div>
  <div class="row">
    {{range .models}}
    <div class="col-6 gy-3">
      <div class="card h-100" data-model-name="{{.Name}}">
        <!-- If .Downloaded is false, add button to call download link -->
        {{if not .Downloaded}}
        {{if not (eq .Name "openai-gpt")}}
        <div class="card-header col">{{.Name}}</div>
        <div class="row h-100">
          <div name="progress-download" id="progress-download-{{.Name}}"></div>
          <button id="btn-download-{{.Name}}" class="btn fw-medium" style="min-height: 228px;" data-model-name="{{.Name}}"
            hx-post="/model/download?model={{.Name}}" hx-trigger="click">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" fill-rule="evenodd"
                d="M12 15.25a.75.75 0 0 1 .75.75v4.19l.72-.72a.75.75 0 1 1 1.06 1.06l-2 2a.75.75 0 0 1-1.06 0l-2-2a.75.75 0 1 1 1.06-1.06l.72.72V16a.75.75 0 0 1 .75-.75"
                clip-rule="evenodd" />
              <path fill="currentColor"
                d="M12.226 3.5c-2.75 0-4.964 2.2-4.964 4.897c0 .462.065.909.185 1.331c.497.144.963.36 1.383.64a.75.75 0 1 1-.827 1.25a3.54 3.54 0 0 0-1.967-.589c-1.961 0-3.536 1.57-3.536 3.486C2.5 16.43 4.075 18 6.036 18a.75.75 0 0 1 0 1.5C3.263 19.5 1 17.276 1 14.515c0-2.705 2.17-4.893 4.864-4.983a6.366 6.366 0 0 1-.102-1.135C5.762 4.856 8.664 2 12.226 2c3.158 0 5.796 2.244 6.355 5.221c2.3.977 3.919 3.238 3.919 5.882c0 3.074-2.188 5.631-5.093 6.253a.75.75 0 0 1-.314-1.467c2.24-.48 3.907-2.446 3.907-4.786c0-2.137-1.39-3.962-3.338-4.628a5.018 5.018 0 0 0-1.626-.27c-.583 0-1.14.1-1.658.28a.75.75 0 0 1-.494-1.416a6.517 6.517 0 0 1 3.024-.305A4.962 4.962 0 0 0 12.226 3.5" />
            </svg>
          </button>
        </div>
        {{else}}
        <div id="card-header-{{.Name}}" class="card-header" onclick="selectModel('{{.Name}}')">{{.Name}}</div>
        <div class="card-body tab-content mh-100" id="js-tabs-content-{{.Name}}">
          <!-- Tabs -->
          <ul class="nav nav-underline nav-fill mb-3 justify-content-center" id="js-tabs-{{.Name}}" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="settings-tab-{{.Name}}" data-bs-toggle="tab"
                data-bs-target="#settings-tab-pane-{{.Name}}" role="tab" aria-controls="settings-tab-pane-{{.Name}}"
                aria-selected="true" style="background-color: unset;">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="template-tab-{{.Name}}" data-bs-toggle="tab"
                data-bs-target="#template-tab-pane-{{.Name}}" role="tab" aria-controls="template-tab-pane-{{.Name}}"
                aria-selected="false" style="background-color: unset;">Prompt Template</a>
            </li>
          </ul>
          <!-- Settings Tab Content -->
          <div class="tab-pane fade show active" id="settings-tab-pane-{{.Name}}" role="tabpanel"
            aria-labelledby="settings-tab-{{.Name}}">
            <p><a href="{{.GGUFInfo}}" target="_blank">Model Info</a></p>
            <p><strong>Context:</strong> {{.Options.CtxSize}}</p>
            <p><strong>Temperature:</strong> {{.Options.Temp}}</p>
            <p><strong>Repetition Penalty:</strong> {{.Options.RepeatPenalty}}</p>
          </div>
          <!-- Prompt Template Tab Content -->
          <div class="tab-pane fade" id="template-tab-pane-{{.Name}}" role="tabpanel"
            aria-labelledby="template-tab-{{.Name}}">
            <p><strong>Prompt Template:</strong> {{.Options.Prompt}}</p>
          </div>
        </div>
        {{end}}
        {{else}}
        <div class="card-header" onclick="selectModel('{{.Name}}')">{{.Name}}</div>
        <div class="card-body tab-content mh-100" id="js-tabs-content-{{.Name}}">
          <!-- Tabs -->
          <ul class="nav nav-underline nav-fill mb-3 justify-content-center" id="js-tabs-{{.Name}}" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="settings-tab-{{.Name}}" data-bs-toggle="tab"
                data-bs-target="#settings-tab-pane-{{.Name}}" role="tab" aria-controls="settings-tab-pane-{{.Name}}"
                aria-selected="true" style="background-color: unset;">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="template-tab-{{.Name}}" data-bs-toggle="tab"
                data-bs-target="#template-tab-pane-{{.Name}}" role="tab" aria-controls="template-tab-pane-{{.Name}}"
                aria-selected="false" style="background-color: unset;">Prompt Template</a>
            </li>
          </ul>
          <!-- Settings Tab Content -->
          <div class="tab-pane fade show active" id="settings-tab-pane-{{.Name}}" role="tabpanel"
            aria-labelledby="settings-tab-{{.Name}}">
            <p><a href="{{.GGUFInfo}}" target="_blank">Model Info</a></p>
            <p><strong>Context:</strong> {{.Options.CtxSize}}</p>
            <p><strong>Temperature:</strong> {{.Options.Temp}}</p>
            <p><strong>Repetition Penalty:</strong> {{.Options.RepeatPenalty}}</p>
          </div>
          <!-- Prompt Template Tab Content -->
          <div class="tab-pane fade" id="template-tab-pane-{{.Name}}" role="tabpanel"
            aria-labelledby="template-tab-{{.Name}}">
            <p><strong>Prompt Template:</strong> {{.Options.Prompt}}</p>
          </div>
        </div>
        {{end}}
      </div>
    </div>
    {{end}}
  </div>
</div>

<script>
  async function downloadModel(modelName) {

    // Append 

    console.log("Downloading model: ", modelName);
    
    // Fetch the download route
    fetch(`/model/download?model=${modelName}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ modelName }),
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('Failed to download model');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }

  async function selectModel(modelName) {
    
    // Get the card element using the data-model-name attribute
    let cardElement = document.querySelector(`div[data-model-name="${modelName}"]`);
    
    cardElement.classList.toggle('card-selected');

    // Determine the action based on selection state
    let action = cardElement.classList.contains('card-selected') ? 'add' : 'remove';

    if (!modelName.startsWith('openai-')) {
      fetch(`/model/select`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ modelName, action }),
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to update model selection');
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }

    fetch(`/model/select`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ modelName, action }),
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('Failed to update model selection');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }
</script>